<% include ../partials/header %>

      <div class="starter-template">
        <h1>Noticias publicas</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
        <table>
            <tr>
                <th></th>
            </tr>
            <% articles.forEach(article =>{ %>
                <tr>
                    <td><%= article.title %></td>
                </tr>
            <% }) %>
        </table>
      </div>

<% include ../partials/footer %>